body {

    background-color: #000000;
    color: lightgrey;


    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 740px;
    /* width: 400px; */
    margin: 20px;

}
canvas{

    width:320px !important;
    height:320px !important;
  
  }

#name {
    margin-bottom: 2px !important;
}

#searchStuff {
    display: flex;
    justify-content: space-around;
}

#searchBox {
    background-color: darkgrey;
}

#search-add-buttons {
    display: flex;
}

#graphs-container {
    /* display:grid; */
    display:flex;
}

#graphs-container > div {
    padding: 20px;
}

#indiv-nutrients {
    display: flex;
    height: 100px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}


#indiv-nutrients > div {
    display:grid;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 17px;
    padding-right: 17px;
    
}

#indiv-nutrients > div > div > p:nth-child(1) {
    margin-top: 5px;
    margin-bottom: 0px;
}

#indiv-nutrients > div > div > p:nth-child(2) {
    margin-top: 1px;
    margin-bottom: 0px;
}



#switch {
    background-color: darkgrey;
}



#item-name {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 50px;
}


#switch-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#your-basket {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#delete-div {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#totals-label {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#total-list {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
}


#macro-totals {
    display:grid;
    padding: 20px;
}

#macro-totals2 {
    display:grid;
    padding: 20px;
}

#micro-totals {
    display:grid;
    padding: 20px;
}

#micro-totals2 {
    display:grid;
    padding: 20px;
}

#micro-totals3 {
    display:grid;
    padding: 20px;
}

#macro-box {
    padding-top: 8px !important;
}

#micro-box {
    padding-top: 8px !important;
}