body {

    background-color: black;
    color: lightgrey;

    width: 100vw;

    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}

