<!DOCTYPE html>
<html>
    <head>
        <title>Nutrition Stats</title>
        <link rel="stylesheet" href="styles.css">
        <script defer src="script.js"></script>
    </head>
    <body>
        <div class="dashboard">
            <div class="cartinput">
                <input id="nutrition1" placeholder="Enter name of item..">
                <!-- <button onclick="fn1()" id="btn1">search</button> -->
            </div>
            <!--Search for item pop up-->
            <button data-modal-target="#modal">search food item</button>
            <div class="modal" id="modal">
                <div class="modal-header">
                    <div class="title">Food item</div>
                    <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente a corrupti, vero doloremque ea reprehenderit et perferendis voluptate expedita at officiis incidunt, laborum iusto adipisci. Voluptates ipsam possimus quibusdam sed?
                </div>
            </div>
        </div>
        <div id="overlay"></div>

        <!-- API data-->
        <p>
            item: <span id="fooditem"></span><br>
            nutrients: <span id="nutrient"></span>
        </p>

        <!--fetch data-->
        <script>
            const api_url="#"
            async function getISS() {
                const response = await fetch(api_url);
                const data = await response.json();
                const { item, nutrients} = data;

                document.getElementById('fooditem').textContent = item;
                document.getElementById('nutrient').textContent = nutrients;
            }

            getISS();
        </script>
    </body>

    <!-- <script type="text/javascript">
        function fn1() {
            var str = document.getElementById("nutrition1").value;
        }
    </script> -->
</html>