/* font-family: 'Poppins', sans-serif;
font-family: 'Questrial', sans-serif; */
/* font-family: 'Catamaran', sans-serif; */


body {
    font-family: 'Poppins', sans-serif;
}
.dashboard {
    width: 500px;
    height: 110px;
    border: solid;
    /* border-width: 1px; */
    color: white;
}

.navbar {
    background-color:rgb(255, 255, 255);
}

/* title */
.navbar-brand {
    font-size: 60px;
    position: relative;
    left: 100px;
    top: 100px;
    font-family: 'Questrial', sans-serif;
    font-weight: 900;
    /* color: rgb(0, 166, 231); */
    color:  black;
    color:  rgb(4, 133, 253);
    /* text-shadow: 2px 1px rgb(206, 255, 91); */
}

/* instructions hover */
#questions {
    height: 32px;
    width: 32px;
    position: relative;
    left: 130px;
    top: -6px;
}

/* enter item */
.cartinput, #searchBox {
  font-size: 10px;
  font-weight: 100;
  width: 200px;
  color: rgb(26, 2, 2);
  padding: 10px;
  margin: 10px;
  position: relative;
  top: 37px;
  left: 56px;
  letter-spacing: .5px;
}

.cartinput:focus, #searchBox:focus {
    font-size: 14px;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.858);
    border-style: solid;
    border-width: 3px;
    border-radius: 1%;
    /* border-color: rgb(206, 227, 255); */
    border-color:  rgba(9, 219, 9, 0.37);
    padding: 10px;
    margin: 10px;
    outline: none !important;
    letter-spacing: .5px;
}

/* search for item */
#searchButton {
    position: relative;
    left: 140px;
    top: 42px;
    width: 80px;
    height: 30px;
    font-size: 10px;
    /* border-radius: 12px; */
    color: black;
    border: solid;
    border-color: grey;
    border-width: .5px;
    background-color:rgb(255, 255, 254);
    cursor: pointer;
    letter-spacing: .5px;
}

#searchButton:focus {
    border-style: solid;
    border-width: 3px;
    border-radius: 1%;
    border-color:  rgba(9, 219, 9, 0.37);
    padding: 0;
    margin: 0;
    outline: none !important;
    letter-spacing: .5px;
}

/* item is searched + slide down*/
.modal {
    position: relative;
    top: 80px;
    width: 450px;
    left: 20px;
    border: solid;
    border-width: .5px;
    border-color: white;
    /* background-color:  rgba(255, 153, 0, 0.514); */
    background-color: rgb(247, 255, 219);
    color: black;
    height: 0px;
    overflow: hidden;
    transition: 500ms;
    /* border-radius: 10px; */
}

.modal.open {
    height: auto;
    border: solid;
    /* border-color: gray; */
    border-color: rgb(192, 192, 192);
    /* background-color: rgb(211, 238, 215); */
    background-color: white;
    border-width: .5px;
    position: relative;
    left: 20px;
}

.modal-header {
    padding: 5px;
    border:solid;
    border-width: .5px;
    /* border-color:  rgb(9, 219, 9); */
    border-color: white;
    height: 25px;
    color: black;
    font-size: 9px;
    position: relative;
    top: -1px;
}

#name {
    position: relative;
    top: 5px;
    left: 18px;
    font-size: 20px;
    color: black;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
}

#add-button {
    position: relative;
    top: -16px;
    left: 377px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(252, 252, 252);
    border-radius: 12px;
    color: rgb(252, 252, 252);
    border-width: 2px;
    border: none;
    /* background-color: rgba(255, 136, 57, 0.699); */
    border-color:  rgb(8, 122, 4);
    background-color: rgb(8, 122, 4);
    /* border-color: rgb(255, 145, 2); */
    /* background-color:  rgb(255, 153, 0); */
    width: 55px;
    height: 23px;
}

#add-button:focus {
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color:  white;
    padding: 0;
    margin: 0;
    outline: none !important;
    letter-spacing: .5px;
}

.modal-body {
    font-size: 15px;
}

.facts {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 6px;
    color: black;
    font-size: 11px;
    letter-spacing: 0.5px;
}

h3 {
    padding: 10px;
}

p {
    position: relative;
    top: 8.5px;
    font-size: 14px;
}

/* total for basket */
.modal-header-total {
    position: relative;
    /* border: solid; */
    border-color: black;
    width: 500px;
    height: 50px;
    top: 80px;
    left: -3.5px;
}

.deletebasket {
    position: absolute;
    left: 390px;
    top: 20px;
}

#delete-basket {
    width: 55px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    color: rgb(252, 252, 252);
    border-radius: 12px;
    color: rgb(252, 252, 252);
    border-width: 2px;
    border: none;
    border-color: black;
    background-color: black;
}

#delete-basket:focus {
    border-style: solid;
    border-width: 3px;
    border-radius: 1%;
    border-color:  white;
    padding: 0;
    margin: 0;
    outline: none !important;
    letter-spacing: .5px;
}

/* whats in your basket */
.totalname {
    position: relative;
    top: 5px;
    left: 24px;
    border:solid;
    height: 300px;
    width: 450px;
    border-width: .5px;
    border-color: rgb(192, 192, 192);
    /* border-radius: 10px; */
    /* border-color: rgb(255, 145, 2); */
    background-color: white;
}

#totalname {
    font-size: 19px;
    /* font-weight: bold; */
    color: black;
    position: relative;
    left: 21px;
    top: -6px;
    font-weight: 800;
}

#item-amount {
    position: relative;
    /* border: solid; */
    left: 22px;
    top: -10px;
    color: black;
    font-weight: 500;
    font-size: 14.5px;
    letter-spacing: 0.5px;
}

#basket {
    font-size: 12px;
    position: relative;
    left: 25px;
    top: -15px;
    color: black;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.baskets {
    background-color: rgba(255, 255, 255, 0.082);
}

/* total for all */
.totalnutris1 {
    position: absolute;
    top: 420px;
    left: 23px;
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: rgb(172, 171, 171);
    color: black;
    border-width: .5px;
    width: 452px;
    height: 400px;
    line-height: 80%;
}

.totalnutris2 {
    position: absolute;
    top: 400px;
    left: 23px;
    display: flex;
    flex-direction: row;
    color: black;
    border-width: .5px;
    width: 452px;
    height: 400px;
    line-height: 80%;
}

.totalnutris3 {
    position: absolute;
    top: 400px;
    left: 23px;
    display: flex;
    flex-direction: row;
    color: black;
    border-width: .5px;
    width: 452px;
    height: 400px;
    line-height: 80%;
}

/* graph popup */
.graphs {
    position: absolute;
    top: 312px;
    left: 23px;
    width: 451px;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: solid;
    border-width: .5px;
    border-color: rgb(139, 139, 139);
}

#graphtitle {
    color: black;
    font-size: 19px;
    /* font-weight: bold; */
    color: black;
    position: relative;
    left: 21px;
    top: -33px;
    font-weight: 800;
}

 #macro-box {
    position: relative;
    top: -50px;
    left: 23px;
    width: 400px;
    height: 400px;
    /* border: solid; */
    padding: 0;
    margin: 0;
    border-color: black;

}

#micro-box {
    position: relative;
    top: -4px;
    left: 22px;
    width: 400px;
    height: 400px;
    /* border:solid; */
    padding: 0;
    margin: 0;
    border-color: black;
}

#graph2 {
    font-size: 19px;
    color: black;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}


#switch {
    position: relative;
    top: -76px;
    left: 345px;
    cursor: pointer;
    font-size: 13px;
    color: rgb(252, 252, 252);
    border-radius: 12px;
    color: rgb(252, 252, 252);
    border-width: 2px;
    border: none;
    /* background-color: rgba(255, 136, 57, 0.699); */
    border-color:  rgb(8, 122, 4);
    background-color: rgb(8, 122, 4);
    /* border-color: rgb(255, 145, 2); */
    /* background-color:  rgb(255, 153, 0); */
    width: 82px;
    height: 30px;
}

#switch:focus {
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color:  white;
    padding: 0;
    margin: 0;
    outline: none !important;
    letter-spacing: .5px;
}

/* 
.graphs#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.open-btn {
    position: absolute;
    left: 65px;
    top: 40px;
    width: 110px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    color: rgb(252, 252, 252);
    border-radius: 12px;
    color: rgb(252, 252, 252);
    border-width: 2px;
    border: none;
    border-color: rgb(8, 122, 4);
    background-color: rgb(8, 122, 4);
}

.open-btn:focus {
    border-style: solid;
    border-width: 3px;
    border-radius: 1%;
    border-color:  white;
    padding: 0;
    margin: 0;
    outline: none !important;
    letter-spacing: .5px;
}

.open-btn2 {
    position: absolute;
    left: 270px;
    top: 40px;
    width: 110px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    color: rgb(252, 252, 252);
    border-radius: 12px;
    color: rgb(252, 252, 252);
    border-width: 2px;
    border: none;
    border-color: rgb(8, 122, 4);
    background-color: rgb(8, 122, 4);
}

.open-btn2:focus {
    border-style: solid;
    border-width: 3px;
    border-radius: 1%;
    border-color:  white;
    padding: 0;
    margin: 0;
    outline: none !important;
    letter-spacing: .5px;
} */

