/* font-family: 'Poppins', sans-serif;
font-family: 'Questrial', sans-serif; */
/* font-family: 'Catamaran', sans-serif; */


body {
    font-family: 'Poppins', sans-serif;
}
.dashboard {
    width: 500px;
    height: 110px;
    border: solid;
    /* border-width: 1px; */
    color: white;
}

.navbar {
    background-color:rgb(255, 255, 255);
}

/* title */
.navbar-brand {
    font-size: 60px;
    position: relative;
    left: 100px;
    top: 100px;
    font-family: 'Questrial', sans-serif;
    font-weight: 900;
    /* color: rgb(0, 166, 231); */
    color:  black;
    text-shadow: 2px 1px rgb(206, 255, 91);
}

/* instructions hover */
#questions {
    height: 32px;
    width: 32px;
    position: relative;
    left: 228px;
    top: -2px;
}

/* enter item */
.cartinput, #searchBox {
  font-size: 10px;
  font-weight: 100;
  width: 200px;
  color: rgb(26, 2, 2);
  padding: 10px;
  margin: 10px;
  position: relative;
  top: 37px;
  left: 56px;
  letter-spacing: .5px;
}

.cartinput:focus, #searchBox:focus {
    font-size: 14px;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.858);
    border-style: solid;
    border-width: 3px;
    border-radius: 1%;
    border-color: rgb(206, 227, 255);
    padding: 10px;
    margin: 10px;
    outline: none !important;
    letter-spacing: .5px;
}

/* search for item */
#searchButton {
    position: relative;
    left: 140px;
    top: 42px;
    width: 80px;
    height: 30px;
    font-size: 10px;
    /* border-radius: 12px; */
    color: black;
    border: solid;
    border-color: grey;
    border-width: .5px;
    background-color:rgb(255, 255, 254);
    cursor: pointer;
    letter-spacing: .5px;
}

/* item is searched + slide down*/
.modal {
    position: relative;
    top: 80px;
    width: 450px;
    left: 20px;
    border: solid;
    border-width: .5px;
    border-color: white;
    /* background-color:  rgba(255, 153, 0, 0.514); */
    background-color: white;
    color: black;
    height: 0px;
    overflow: hidden;
    transition: 500ms;
    /* border-radius: 10px; */
}

.modal.open {
    height: auto;
    border: solid;
    border-color: gray;
    border-width: .5px;
    position: relative;
    left: 20px;
}

.modal-header {
    padding: 5px;
    border:solid;
    border-width: .5px;
    border-color: gray;
    height: 25px;
    color: black;
    font-size: 9px;
    position: relative;
    top: 1px;
}

#name {
    position: relative;
    top: 5px;
    left: 18px;
    font-size: 20px;
    color: black;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
}

#add-button {
    position: relative;
    top: -20px;
    left: 377px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(252, 252, 252);
    border-radius: 12px;
    color: rgb(252, 252, 252);
    border-width: 2px;
    border: none;
    /* background-color: rgba(255, 136, 57, 0.699); */
    border-color: rgb(255, 145, 2);
    background-color:  rgb(255, 153, 0);
    width: 55px;
    height: 23px;
}

.modal-body {
    font-size: 15px;
}

.facts {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 6px;
    color: black;
    font-size: 11px;
    letter-spacing: 0.5px;
}

h3 {
    padding: 10px;
}

p {
    position: relative;
    top: 8.5px;
    font-size: 14px;
}

/* total for basket */

.modal-header-total {
    position: relative;
    /* border: solid; */
    border-color: black;
    width: 500px;
    height: 50px;
    top: 80px;
    left: -3.5px;
}

.deletebasket {
    position: relative;
    left: 360px;
    top: -15px;
}

#delete-basket {
    width: 110px;
    height: 30px;
    font-size: 12px;
    color: rgb(252, 252, 252);
    border: none;
    background-color: rgb(99, 99, 99);
    cursor: pointer;
}

/* whats in your basket */
.totalname {
    position: relative;
    top: 5px;
    left: 24px;
    border:solid;
    height: 35px;
    width: 450px;
    border-width: 2px;
    border-color: orange;
    /* border-radius: 10px; */
    /* border-color: rgb(255, 145, 2); */
    background-color: white;
}

#totalname {
    font-size: 19px;
    /* font-weight: bold; */
    color: black;
    position: relative;
    left: 21px;
    top: -15px;
}

#item-amount {
    position: relative;
    /* border: solid; */
    left: 22px;
    top: -10px;
    color: black;
    font-size: 14.5px;
    letter-spacing: 0.5px;
}

#basket {
    font-size: 14px;
    position: relative;
    left: 25px;
    top: -15px;
    color: black;
    letter-spacing: 0.5px;
}

.baskets {
    background-color: rgba(255, 136, 57, 0.082);
}

/* graphs */
.graphone {
    position: relative;
    left: 1px;
    top: 20px;
    border: solid;
    border-color: gray;
    height: 600px;
}

#graph {
    position: relative;
    top: 20px;
}

.graphtitle {
    color: black;
    position: relative;
    left: 40px;
}

/* total for all */

.totalnutris {
    position: relative;
    top: 50px;
    left: 20px;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 200px;
}

.totalcalories {
    /* border: solid; */
    border-color: gray;
    padding: 20px;
}

.totalcarbs {
    /* border: solid; */
    border-color: gray;
    padding: 20px;
}

.totalprotein {
    /* border: solid; */
    border-color: rgb(168, 87, 87);
    padding: 20px;
}

.totalfat {
    /* border: solid; */
    border-color: gray;
    padding: 20px;
}

.totalsugar {
    /* border: solid; */
    border-color: gray;
    padding: 20px;
}

/* graph slides */

.graphs {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(59, 105, 15);
}

.open-btn {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 1rem 2.5rem;
    cursor: pointer;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.popup-overlay {
    /* background-color: black; */
    height: 100vh;
    width: 100%;
    position: absolute;
}

.main-popup {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50%;
    z-index: 1;
    background-color: red;
    padding: 30px 20px;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    border: solid black;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease all;
}

.close-btn:hover {
    background-color: whitesmoke;
}

.popup-content {
    font-size: 2rem;
    line-height: 1rem;
    position: relative;
}