.dashboard {
    width: 500px;
    height: 500px;
    border: solid;
    border-width: 1px;
    color: rgb(120, 120, 120);
}

/* input food name  */

.cartinput, #searchBox {
  font-size: 10px;
  font-weight: 100;
  width: 208px;
  color: rgb(26, 2, 2);
  padding: 10px;
  margin: 10px;
  position: relative;
  left: -5px;
}

.cartinput:focus, #searchBox:focus {
    font-size: 13px;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.858);
    border-style: solid;
    border-width: 3px;
    border-radius: 1%;
    border-color: rgb(65, 157, 255);
    padding: 10px;
    margin: 10px;
    outline: none !important;
}

/* slide down */

.modal {
    position: relative;
    top: -3px;
    border: solid;
    border-color: black;
    color: gray;
    height: 0px;
    overflow: hidden;
    transition: 500ms;
}

.modal.open {
    height: auto;
}

.modal-header {
    border:solid;
    padding: 5px;
    height: 30px;
    font-size: 17px;
}

#name {
    position: relative;
    top: 6px;
    left: 30px;
}

.add-button {
    position: relative;
    top: 270px;
    left: 340px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(252, 252, 252);
    border: none;
    background-color: rgb(114, 114, 114);
    padding: 10px;
    width: 100px;
    height: 30px;
}

.modal-body {
    padding: 17px 16px;
    font-size: 14px;
}

/* .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(38, 204, 255);
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay-active {
    opacity: 1;
    pointer-events: all;
} */

/* search for item */

#searchButton {
    position: relative;
    left: 20px;
    top: -20px;
    width: 231px;
    height: 30px;
    font-size: 15px;
    color: rgb(252, 252, 252);
    border: none;
    background-color: rgb(99, 99, 99);
    cursor: pointer;
}

#nutrition1 {
    padding: 20px;
    width: 200px;
}

/* navbar */
.dashboardname {
    height: 50px;
    border: solid;
    color: rgb(94, 91, 91);
    border-width: 1px;
}

.dashboardname > .dtitle {
    margin: -1px -1px;
    position: relative;
    left: 20px;
    font-size: 29px;
    color: rgb(60, 145, 255);
    font-family: 'Martel', serif;
}

/* back to home button */

#homebutton {
    position: relative;
    left: 445px;
    top: -40px;
    color: rgb(252, 252, 252);
    border: none;
    background-color: rgb(99, 99, 99);
    cursor: pointer;
    width: 45px;
    height: 30px;
}

/* sum of all  */

.total {
    border: solid;
}